{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark border-bottom" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}" style="display: inline-block;">
            <div>
                <img src="{{url_for('static', filename='logo.png')}}" alt="TransitLink" style="width: 35px;height: 35px; border-radius: 5px;">
                TransitLink
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('account', id=id) }}">
                    <i class="bi bi-person"></i> Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('favorites', id=id) }}">
                    <i class="bi bi-star"></i> Favoritos
                </a>
            </li>
        </ul>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        <i class="bi bi-door-open"></i> Sair
                    </a>
                </li>
            </ul> 
        </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-gear"></i>
                    </span>
            <form action="{{ url_for('home', id=id) }}" method="POST">
                    <select class="form-select" id="selecao" name="selecao">
                        <option selected >Rota</option>
                        <option value="1">Casa -> Trabalho</option>
                        <option value="2">Trabalho -> Casa</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-geo-alt"></i>
                    </span>
                    <input input class="form-control" placeholder="Partida: {{end_ida}}" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-pin-map-fill"></i>
                    </span>
                    <input input class="form-control" placeholder="Destino: {{end_volta}}" disabled>
                </div>
            </div>
        </div>
        

    <br/>

    <div class="row">
        <div class="accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="col-sm-2 col-md-6 col-lg-6">
                        Rota 1
                    </div>
                    <div class="col-sm-5 col-md-3 col-lg-3">
                        Valor Total: R$ {{ valor_total_rota1 }}
                    </div>
                    <div class="col-sm-5 col-md-3 col-lg-3">
                        Tempo Estimado: {{tempo_rota1}} minutos
                    </div>     
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                {% for i,row in df_rota1 %}
                  <div class="row accordion-row">
                        <div class="col-sm-2 col-md-2 col-lg-1" >
                            <!--Logo -->
                            <div class="formatacaoIcone">
                                <img src="{{url_for('static', filename=row['img'])}}" alt="TransitLink" class="Icone">
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-8">
                            <!--Informações Gerais (Nome do transporte) -->
                            <div>{{row['conducao']}}</div>
                            <div>Valor R$: {{row['valor']}}</div>
                            <div>Tempo: {{row['tempo']}} minutos</div>
                        </div>
                        <div class="col-sm-2 col-md-3 col-lg-3" style="padding-top: 20px;">
                            <!--Lotação -->
                            <div class="progress">
                                <div class="progress-bar {{row['css_info']}}" role="progressbar" aria-label="Success example" aria-valuenow="{{row['capacidade']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{row['capacidade']}}%;">{{row['capacidade']}}%</div>
                            </div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                       <div class="formatacaoIcone">
                            <i class="bi bi-arrow-down-short"></i>
                       </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="col-sm-2 col-md-6 col-lg-6">
                            Rota 2
                        </div>
                        <div class="col-sm-5 col-md-3 col-lg-3">
                            Valor Total: R$ {{ valor_total_rota2 }}
                        </div>
                        <div class="col-sm-5 col-md-3 col-lg-3">
                            Tempo Estimado: {{tempo_rota2}} minutos
                        </div>     
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    {% for i,row in df_rota2 %}
                      <div class="row accordion-row">
                            <div class="col-sm-2 col-md-2 col-lg-1" >
                                <!--Logo -->
                                <div class="formatacaoIcone">
                                    <img src="{{url_for('static', filename=row['img'])}}" alt="TransitLink" class="Icone">
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-7 col-lg-8">
                                <!--Informações Gerais (Nome do transporte) -->
                                <div>{{row['conducao']}}</div>
                                <div>Valor R$: {{row['valor']}}</div>
                                <div>Tempo: {{row['tempo']}} minutos</div>
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-3" style="padding-top: 20px;">
                                <!--Lotação -->
                                <div class="progress">
                                    <div class="progress-bar {{row['css_info']}}" role="progressbar" aria-label="Success example" aria-valuenow="{{row['capacidade']}}" aria-valuemin="0" aria-valuemax="100" style="width: {{row['capacidade']}}%;">{{row['capacidade']}}%</div>
                                </div>
                            </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                           <div class="formatacaoIcone">
                                <i class="bi bi-arrow-down-short"></i>
                           </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<br/>



{% endblock %}
